{% extends '::base.html.twig' %}
{% block title %}Jugadores{% endblock %}
{% block body %}
 <h3>Jugadores del club</h3>
 <table class="table table-striped table-inverse">
   <tr>
     <th>Nombre</th>
     <th>Email</th>
   </tr>
   {% for usuario in tablausuario %}
   <tr>
     <td>{{ usuario.username }}</td>
     <td>{{ usuario.email }}</td>
     <td><a href="{{path(
           'usuario_actualizar',
          { 'id': usuario.id}
        )}} ">Actualizar</a></td>
        <td><a href="{{path(
         'usuario_eliminar',
        { 'id': usuario.id}
      )}} ">Eliminar</a></td>
   {% endfor %}
 </table>
{% endblock %}
