{% extends '::base2.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block Titular %}
  <h3>Elige donde quieres jugar</h3>
{% endblock %}
{% block body1 %}
<p>Partidos1</p>
{% endblock %}
{% block body2 %}
<p>Partidos2</p>
{% endblock %}
