{% extends '::base.html.twig' %}
{% block title %}Torneos{% endblock %}
{% block body %}
 <h3>Torneo mixto de Padel</h3>
 <table class="table table-striped table-inverse">
   <tr>
     <th>Pareja</th>
     <th>Partidas Ganadas</th>
     <th>Partidas Perdidas</th>
   </tr>
   <tr>
     <td>Joe/Doe</td>
     <td>6</td>
     <td>7</td>
   </tr>
   <tr>
     <td>meEe/casRFe</td>
     <td>2</td>
     <td>3</td>
   </tr>
 </table>
 <h3>Liga femenina de Padel</h3>
 <table class="table table-striped table-inverse">
   <tr>
     <th>Pareja</th>
     <th>Partidas Ganadas</th>
     <th>Partidas Perdidas</th>
   </tr>
   <tr>
     <td>Joe/Doe</td>
     <td>6</td>
     <td>7</td>
   </tr>
   <tr>
     <td>meEe/casRFe</td>
     <td>2</td>
     <td>3</td>
   </tr>
 </table>
 <h3>Liga masculina de Padel</h3>
 <table class="table table-striped table-inverse">
   <tr>
     <th>Pareja</th>
     <th>Partidas Ganadas</th>
     <th>Partidas Perdidas</th>
   </tr>
   <tr>
     <td>Joe/Doe</td>
     <td>6</td>
     <td>7</td>
   </tr>
   <tr>
     <td>meEe/casRFe</td>
     <td>2</td>
     <td>3</td>
   </tr>
 </table>
{% endblock %}
